#container {
  display: flex;
  flex-direction: column;
  height: auto;

  #session {
    width: 25rem;

    @keyframes blink {
      0% {
        opacity: 1;
      }
      25% {
        opacity: 0.75;
      }
      50% {
        opacity: 0.5;
      }
      75% {
        opacity: 0.25;
      }
      100% {
        opacity: 0;
      }
    }

    #terminal-cursor {
      display: inline-flex;
      gap: 2rem;

      span {
        border: solid green;
        border-width: 0 5px 0 0;
        animation: blink 0.8s steps(2) infinite;
      }

      h1 {
        margin: 0;
      }
    }
  }

  #window-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;

    #window {
      background-color: white;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      width: 50%;
      height: 500px;

      #window-header {
        display: flex;
        border-radius: 5px 5px 0 0;
        flex-direction: row;
        background-color: #dbdbdb;

        #header-buttons {
          display: flex;
          gap: 0.5rem;
          margin-left: 0.7rem;
          margin-top: 0.7rem;
          height: 30px;

          div {
            cursor: pointer;
            height: 20px;
            width: 20px;
            border-radius: 50%;
          }

          #close {
            background-color: red;
          }

          #expand {
            background-color: green;
          }

          #collapse {
            background-color: orange;
          }
        }

        #window-title {
          margin-top: 0.7rem;
          flex: 2;
          text-align: center;

          #title {
            color: black;
            padding-right: 3.5rem;
          }
        }
      }

      #window-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;

        input[type='file'] {
          display: none;
        }

        .upload-file {
          width: 200px;
          cursor: pointer;
        }
      }
    }
  }
}
