<div id="container">
  <div id="session">
    <div id="terminal-cursor">
      <h1 id="terminal-welcome">rebels@galaxy: / ></h1>
      <span></span>
    </div>
  </div>
  <div id="window-container">
    <div id="window">
      <div id="window-header">
        <div id="header-buttons">
          <div id="close"></div>
          <div id="collapse"></div>
          <div id="expand"></div>
        </div>
        <div id="window-title">
          <span id="title">Empire's plan</span>
        </div>
      </div>
      <div id="window-content">
        <label>
          <input
            (change)="import($event.target)"
            accept=".json"
            id="empire"
            name="empire"
            type="file">
          <img alt="upload" class="upload-file" id="upload" src="assets/icons/upload.svg">
        </label>
        <div *ngIf="oddResponse && oddResponse.message && oddResponse.error === null" id="mission-odd-successful">
          <p>Your mission's odd is {{oddResponse.message}}%</p>
        </div>
        <div *ngIf="oddResponse && oddResponse.error && oddResponse.message" id="mission-odd-error">
          <p>{{oddResponse.message}}: {{oddResponse.error}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
